.body-1 {
    background-image: url(https://previews.123rf.com/images/taui/taui1703/taui170300222/74662524-n%C3%BAmeros-de-fondo-matem%C3%A1tico-de-patrones-sin-fisuras-n%C3%BAmeros-vector-fondo-de-pantalla-en-negro-.jpg);
    background-size: cover;
    color: white
}


.body-2 {
    background-image: url(https://t2.uc.ltmcdn.com/es/posts/5/0/1/como_sacar_el_area_de_un_circulo_37105_orig.jpg);
    background-size: cover;
}


.body-3 {
    background-image: url(https://img.freepik.com/fotos-premium/termometro-nieve-muestra-bajas-temperaturas-grados-centigrados-o-farenheit_341862-11864.jpg?w=2000);
    background-size: cover;
}

.body-4 {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-formas-geometricas-planas-azul-clasico_23-2148380726.jpg?w=2000);
    background-size: cover;

}

.body-5 {
    background-image: url(https://www.shutterstock.com/shutterstock/photos/409985224/display_1500/stock-photo-fried-thinly-sliced-banana-chips-a-tropical-snack-409985224.jpg);
    background-size: cover;
}
